*{margin: 0;
  padding: 0;

}

body{
	background: url(images/1111.jpg);
	background-size: 100%;
}
.scene{
 width: 1200px;
 height: 620px;
 margin: 0 auto;
 position: relative;

}
@keyframes move{
   0%{ margin-left: 40px;}
   100%{margin-left: 120px;}

}
.zt{width: 40px;height: 40px;position: absolute;right: 150px;top:30px; }
.zt img{width: 40px;}
.jj{width:40px;height: 40px;position: absolute;right:80px;top:30px;}
.jj img{width: 40px;}
.yun{
  position: absolute;
  left: 40px;
  top:20px;
  z-index: 10;
}
.fenshu{width: 80px; 
    height: 80px;
    position: absolute;
    right: 110px;
    bottom: 50px;
    background: url(images/Jfen.png);
    line-height: 70px;text-align: center;
    font-size: 18px;
    }
.shengming{
	width: 80px; 
    height: 80px;
    position: absolute;
    right: 10px;
    bottom: 50px;
    background: url(images/Jfen.png);
    background-position: right;
    line-height: 70px;text-align: center;
    font-size: 18px;}

 .box{width: 500px;
      height:0px;
      position: absolute;
      left: 350px;
      top: 90px;
      overflow: hidden;
      background-image: url(images/popup.png);
      background-position: bottom;
  }

 #img1{
 	position: absolute;
       left: 90px;
       bottom:120px;
   }
 #img2{
 	position: absolute;
       left: 180px; 
       bottom:50px;  
   }
